* {
    margin: 0;
    padding: 0;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.splashfade {
    -webkit-animation: bgfade 0.5s; /* Safari and Chrome */
    -moz-animation: bgfade 0.5s; /* Firefox */
    -ms-animation: bgfade 0.5s; /* Internet Explorer */
    -o-animation: bgfade 0.5s; /* Opera */
    animation: bgfade 0.5s;
}

#splashlogo {
    margin-left: 40px;
}

#splash {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F5F5F5;
    z-index: 1000;
}

#headercontainer {
    width: 95%;
    height: 60px;
    position: fixed;
    top: 0;
    background: #303030;
    z-index: 6;
    transition: all 0.65s ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

#headercontainer2 {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 60px;
    background: #00AEEF;
    z-index: 5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

#header {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
}

#bannercontainer {
    top: 140px;
    position: absolute;
    width: 100%;
    height: 250px;
    z-index: 1;
}

#banner {
    margin-top: 30px;
    z-index: 1;
}

#footercontainer {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    background: #F0F0F0;
}

#footer {
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

#contentcontainer {
    width: 100%;
    height: auto;
    background: #F5F5F5;
}

#content {
    margin-left: 10%;
    margin-right: 10%;
}

#start {
    width: 350px;
    height: 80px;
    background: #2CA8E6;
}

p {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 13px;
    color: #EDEDED;
}

p.title {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    letter-spacing: 4px;
    font-size: 110px;
    color: #EDEDED;
    line-height: 100px;
    text-shadow: 0.5px 0.5px 0.5px #000000;
}

p.subtitle {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 16px;
    color: #EDEDED;
    text-shadow: 0.5px 0.5px 1px #000000;
}

p.button {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 30px;
    text-shadow: 0.5px 0.5px 1px #000000;
}

p.header {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 30px;
    color: #171717;
}

p.text {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 14px;
    color: #171717;
}

p.start1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 18px;
    text-shadow: 0.5px 0.5px 1px #000000;
    color: #EDEDED;
}

p.start2 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 5px;
    text-shadow: 0.5px 0.5px 1px #000000;
    color: #EDEDED;
}

p.footer {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 10px;
    color: #171717;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #000000;
}

#links a:link {
    color: #EDEDED;
    text-decoration: none;
}

#links a:hover {
    color: #EDEDED;
    text-decoration: none;
    border-bottom: 2px solid #EDEDED;
}

#links a:visited {
    color: #EDEDED;
    text-decoration: none;
}

#links a:active {
    color: #EDEDED;
    text-decoration: none;
}

#footer a:link {
    color: #171717;
    text-decoration: none;
}

#footer a:hover {
    color: #171717;
    text-decoration: none;
    border-bottom: 2px solid #171717;
}

#footer a:visited {
    color: #171717;
    text-decoration: none;
}

#footer a:active {
    color: #171717;
    text-decoration: none;
}

#darklink a:link {
    color: #00AEEF;
    text-decoration: none;
}

#darklink a:hover {
    color: #00AEEF;
    text-decoration: none;
    border-bottom: 2px solid #5ED3FF;
}

#darklink a:visited {
    color: #00AEEF;
    text-decoration: none;
}

#darklink a:active {
    color: #00AEEF;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

@keyframes bgfade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-moz-keyframes bgfade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes bgfade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-ms-keyframes bgfade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-o-keyframes bgfade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

​@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

p.footer {
    font-size: 24px;
}

.top-bar{
    background-color: #FFFFFF;
    height: auto;
}

.top-bar table {
    height:100% !important;
}

.button-pic {
  width: 25px;
  height: 25px;
  align-self: center;
}

html {
    overflow-y: hidden;
}