body {
    padding: 15px;
}

#login-info {
    float:right;
}

.buttonpic {
  width: 25px;
  height: 25px;
  align-self: center;
}

.labels {
    font-weight: bold;
}

.bold {
  font-weight: bold;
}

.legible {
  font-size: 26px;
}
