{% extends "app/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block head %}
<script src="/app/static/js/assign_items.js"
        type="text/javascript"
        charset="utf-8" async defer></script>
<link href="{% static 'css/assign_items.css' %}" rel='stylesheet' media='screen'>
{% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <table>
    {% load bootstrap %}

    {% load repairs_form %}

    <br>
    <div class="category" category="task_category">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-primary btn-xlarge" role="button">Tasks</a>
        </div>
    </div>
    {% for category_item_tuple in tasks_by_category.iteritems %}
    <div class="task_category" style="display:none">
        <div class="sub_category" category="{{category_item_tuple.0|join_whitespace}}">
            <div class="btn-group btn-group-justified">
                <a class="btn btn-default btn-xlarge" role="button" name='new_transaction'>{{ category_item_tuple.0 }}</a>
            </div>
        </div>
        <div class="{{ category_item_tuple.0|join_whitespace }}" style="display:none">
        {% for tuple in category_item_tuple.1 %}
            {% with item=tuple.0 %}
                {% with bool=tuple.1 %}
                    <div class="fieldWrapper">
                        <div class="form-group">
                            <label class="control-label  " for="{{ item.name|join_whitespace }}">(${{ item.price }})  {{ item.name }}</label>
                            <div class=" ">
                                <input class="form-control" id="{{ item.name|join_whitespace }}" name="task_{{item.name|join_whitespace}}" type="checkbox"
                                       {% if bool %} checked="checked "{% endif %}/>
                            </div>

                            {{ tuple.2 | bootstrap }}
                        </div>
                    </div>
                {% endwith %}
            {% endwith %}
        {% endfor %}
        </div>
    </div>
    {% endfor %}


    <div class="category" category="part_category">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-primary btn-xlarge" role="button">Parts</a>
        </div>
    </div>
    {% for category_item_pair in parts_by_category.iteritems %}
    <div class="part_category" style="display:none">
        <div class="sub_category" category="{{category_item_pair.0|join_whitespace}}">
            <div class="btn-group btn-group-justified">
                <a class="btn btn-default btn-xlarge" role="button">{{ category_item_pair.0 }}</a>
            </div>
        </div>
        <div class="{{ category_item_pair.0|join_whitespace }}" style="display:none">
        {% for item_and_bool in category_item_pair.1 %}
            {% with part_item=item_and_bool.0 %}
                {% with bool=item_and_bool.1 %}
                    <div class="fieldWrapper">
                        <div class="form-group">
                            <label class="control-label  " for="id_1-{{ part_item.name|join_whitespace }}">(${{ part_item.price }})  {{ part_item.name }}</label>
                            <div class=" ">
                                <input class="form-control" id="id_1-{{ part_item.name|join_whitespace }}" name="part-{{part_item.name|join_whitespace}}" type="checkbox"
                                       {% if bool %} checked="checked "{% endif %}/>
                            </div>
                            <label class="control-label  " for="id_1-{{ part_item.number|join_whitespace }}">Number</label>
                            <div>
                                <input class="form-control" id="id_1-{{ part_item.number|join_whitespace }}" name="part-{{part_item.name|join_whitespace}}" type="number"/>
                            </div>
                        </div>
                    </div>
                {% endwith %}
            {% endwith %}
        {% endfor %}
        </div>
    </div>
    {% endfor %}

    <div class="category" category="accessory">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-primary btn-xlarge" role="button">Accessories</a>
        </div>
    </div>
    {% for accessory_item_pair in accessory_items %}
        <div class="accessory" style="display:none">
            {% with accessory_item=accessory_item_pair.0 %}
                {% with bool=accessory_item.1 %}
                <div class="form-group">
                    <label class="control-label  " for="id_1-{{ accessory_item.name|join_whitespace }}">
                        {% if accessory_item.price != 0  %} (${{ accessory_item.price }}) {% endif %}
                        {{ accessory_item.name }}</label>
                    <div class=" ">
                        <input class="form-control" id="id_1-{{ accessory_item.name|join_whitespace }}" name="accessory-{{accessory_item.name|join_whitespace}}" type="checkbox"
                               {% if bool %} checked="checked "{% endif %}/>
                    </div>
                    <label class="control-label  " for="id_1-{{ accessory_item.number|join_whitespace }}">
                        Number
                    </label>
                    <input class="form-control" id="id_1-{{ accessory_item.number|join_whitespace }}" name="part-{{item.name|join_whitespace}}" type="number"/>

                </div>
                {% endwith %}
            {% endwith %}
        </div>
    {% endfor %}

    <br>

    {% for field in form %}
        <div class="fieldWrapper">
            {{field | bootstrap}}
        </div>
    {% endfor %}


    </table>

    <input type="submit" value='{% trans "Submit" %}' class="btn btn-default btn-lg"/>
    <input type="submit" value='{% trans "Cancel" %}' name="cancel" class="btn btn-default btn-lg"/>
</form>
{% endblock %}