{% extends "app/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block head %}
<script src="{% static 'js/process_string.js' %}"
        type="text/javascript"
        charset="utf-8" defer></script>
<script src="{% static 'js/assign_items.js' %}"
        type="text/javascript"
        charset="utf-8" defer></script>
<link href="{% static 'css/assign_items.css' %}" rel='stylesheet' media='screen'>
{% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <table>
    {% load bootstrap %}

    {% load repairs_form %}

    <br>
    <div class="category" category="task_category">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-primary btn-xlarge" role="button">Tasks</a>
        </div>
    </div>
    {% for category_item_tuple in tasks_by_category.iteritems %}
    <div class="task_category" style="display:none">
        <div class="sub_category" category="{{category_item_tuple.0|join_whitespace}}">
            <div class="btn-group btn-group-justified">
                <a class="btn btn-default btn-xlarge" role="button" name='new_transaction'>{{ category_item_tuple.0 }}</a>
            </div>
        </div>
        <div class="{{ category_item_tuple.0|join_whitespace }}" style="display:none">
        {% for tuple in category_item_tuple.1 %}
            {% with item=tuple.0 %}
                {% with bool=tuple.1 %}
                    <div class="fieldWrapper">
                        <div class="form-group">
                            <label class="control-label  " for="{{ item.name|join_whitespace }}">(${{ item.price }}) {{ item.name }}</label>
                            <div class=" ">
                                <input class="form-control" id="{{ item.name|join_whitespace }}" name="task_{{item.name|join_whitespace}}" type="checkbox"
                                       {% if bool %} checked="checked "{% endif %}/>
                            </div>

                            {{ tuple.2 | bootstrap }}
                            {% if tuple.3 == True or tuple.3 == False %}
                                <select name="task_{{item.name|join_whitespace}}" class="form-control">
                                    {% if tuple.3 == True %}
                                    <option value="Front">Front</option>
                                    {% endif %}

                                    <option value="Rear">Rear</option>

                                    {% if tuple.3 == False %}
                                    <option value="Front">Front</option>
                                    {% endif %}

                                </select>
                            {% endif %}
                        </div>
                    </div>
                {% endwith %}
            {% endwith %}
        {% endfor %}
        </div>
    </div>
    {% endfor %}


    <div class="category" category="part_category">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-primary btn-xlarge" role="button">Parts</a>
        </div>
    </div>
    {% for category_item_pair in parts_by_category.iteritems %}
    <div class="part_category" style="display:none">
        <div class="sub_category" category="{{category_item_pair.0|join_whitespace}}">
            <div class="btn-group btn-group-justified">
                <a class="btn btn-default btn-xlarge" role="button">{{ category_item_pair.0 }}</a>
            </div>
        </div>
        <div class="{{ category_item_pair.0|join_whitespace }}" style="display:none">
        {% for tuple in category_item_pair.1 %}
            {% with part_item=tuple.0 %}
                {% with bool=tuple.1 %}
                    <div class="fieldWrapper">
                        <div class="form-group">
                            <label class="control-label  " for="id_1-{{ part_item.name|join_whitespace }}">{{ part_item.name }}</label>
                            <div class=" ">
                                <input class="form-control" id="id_1-{{ part_item.name|join_whitespace }}" name="part_{{part_item.name|join_whitespace}}" type="checkbox"
                                       {% if bool %} checked="checked "{% endif %}/>
                            </div>
                            {{ tuple.2 | bootstrap }}
                        </div>
                    </div>
                {% endwith %}
            {% endwith %}
        {% endfor %}
        </div>
    </div>
    {% endfor %}


    {% if not transaction.is_for_bike %}
    <div class="category" category="accessory">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-primary btn-xlarge" role="button">Accessories</a>
        </div>
    </div>
    {% for tuple in accessory_items %}
        <div class="accessory" style="display:none">
            {% with accessory_item=tuple.0 %}
                {% with bool=tuple.1 %}
                <div class="form-group">
                    <label class="control-label  " for="id_1-{{ accessory_item.name|join_whitespace }}">
                        {% if accessory_item.price != 0  %} (${{ accessory_item.price }}) {% endif %}
                        {{ accessory_item.name }}</label>
                    <div class=" ">
                        <input class="form-control" id="id_1-{{ accessory_item.name|join_whitespace }}" name="accessory_{{accessory_item.name|join_whitespace}}" type="checkbox"
                               {% if bool %} checked="checked "{% endif %}/>
                    </div>
                    {{ tuple.2 | bootstrap }}
                </div>
                {% endwith %}
            {% endwith %}
        </div>
    {% endfor %}

    <div class="category" category="buy_back">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-primary btn-xlarge" role="button">Buy Backs</a>
        </div>
    </div>

    <div class="buy_back" style="display:none">
        <br>
            <select name="buy_back_bike" class="form-control">
                <option value="{{buy_back_vin}}">{{buy_back_vin}}</option>
                {% for buy_back in buy_back_items %}
                    {% if buy_back.vin != buy_back_vin %}
                        <option value="{{buy_back.vin}}">{{buy_back.vin}}</option>
                    {% endif%}
                {% endfor %}
            </select>
        <br>
    </div>



    <div class="category" category="refurbished_bike">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-primary btn-xlarge" role="button">Refurbished Bikes</a>
        </div>
    </div>

    <div class="refurbished_bike" style="display:none">
        <form>
            <select name="refurbished_bike" class="form-control">
                <option value="{{refurbished_bike_vin}}">{{refurbished_bike_vin}}</option>
                {% for refurbished_bike in refurbished_bikes %}
                    {% if refurbished_bike.vin != refurbished_bike_vin %}
                        <option value="{{refurbished_bike.vin}}">{{refurbished_bike.vin}}</option>
                    {% endif%}
                {% endfor %}
            </select>
        </form>
        <br>
    </div>
    {% endif %}

    <br>


    </table>

    <input type="submit" value='{% trans "Submit" %}' class="btn btn-default btn-lg"/>
    <input type="submit" value='{% trans "Cancel" %}' name="cancel" class="btn btn-default btn-lg"/>
</form>
{% endblock %}