{% extends "app/base.html" %}

{% block content %}

<br>
<form class="form-inline" action="." method="post">
    {% csrf_token %}
    <center>
        <a class="btn btn-default btn-xlarge" href="{% url 'app:revenue_update'%}"  role="button" name='new_payment'>Update Balance</a>
        <a class="btn btn-default btn-xlarge" href="{% url 'app:index' %}" role="button">Transactions</a>
        <input class="btn btn-default btn-xlarge" type="submit" value='Export' name="export">
    </center>

</form>


{% if revenue_updates %}
    <h3>Balance History</h3>

    <table class="table">
    <thead>
        <td>Transaction ID</td>
        <td>Amount</td>
        <td>Employee</td>
        <td>Customer</td>
        <td>Total Revenue</td>
        <td>Date</td>
    </thead>

    {% for update in revenue_updates %}
        <tr>
            {% if update.transaction != None %}
                <td><a href="{% url 'app:detail_complete' update.transaction.id 'balance' %}">{{ update.transaction.id }}</a></td>
            {% else %}
                <td><a href="javascript:return false;">-</a></td>
            {% endif %}

            <td> {% if update.amount < 0 %}
                    <font color='cranberry'>${{ update.amount }}</font>
                {% else %}
                    ${{ update.amount }}
                {% endif %}
            </td>
            <td>{{ update.employee }}</td>
            <td>{{ update.transaction.first_name }} {{ update.transaction.last_name }}</td>

            <td>${{ update.new_total_revenue }}</td>
            <td>{{ update.date_submitted|date:"M d, Y" }}</td>
        </tr>
    {% endfor %}
    </table>

{% endif %}

{% endblock %}
