{% extends "app/base.html" %}

{% block content %}

<br>
<form action="." method="post" role="form">
    {% csrf_token %}

        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <a id='btn-balance-add' class="btn btn-default btn-lg" href="{% url 'app:revenue_update'%}"  role="button" name='new_payment'>
                <img class="button-pic" src="/app/static/img/add.png" alt="New transaction"/>
            </a>
            <div class="btn-group" role="group">
                <button type="submit" name="export" class="btn btn-default btn-lg">Export</button>
            </div>
        </div>

</form>


{% if revenue_updates %}
    <h3>Balance History</h3>

    <table class="table">
    <thead>
        <td>ID</td>
        <td>Amount</td>
        <td>Employee</td>
        <td class="non-mobile">Customer</td>
        <td>Total</td>
        <td>Date</td>
    </thead>

    {% for update in revenue_updates %}
        <tr>
            {% if update.transaction != None %}
                <td><a href="{% url 'app:detail_1' 'balance' update.transaction.id %}">T-{{ update.transaction.id }}</a></td>
            {% elif update.order != None %}
                <td><a href="{% url 'app:edit_order' 'balance' update.order.id %}">P-{{ update.order.id }} </a></td>
            {% elif update.misc_revenue_update != None %}
                <td><a href="{% url 'app:edit_misc_revenue_update' update.misc_revenue_update.id %}">M-{{ update.misc_revenue_update.id }} </a></td>
            {% else %}
                <td><a href="javascript:return false;">-</a></td>
            {% endif %}

            <td> {% if update.amount < 0 %}
                    <font color='cranberry'>${{ update.amount }}</font>
                {% else %}
                    ${{ update.amount }}
                {% endif %}
            </td>
            <td>{{ update.employee }}</td>
            <td class="non-mobile">{{ update.transaction.first_name }} {{ update.transaction.last_name }}</td>

            <td>${{ update.new_total_revenue }}</td>
            <td>{{ update.date_submitted|date:"n/j" }}</td>
        </tr>
    {% endfor %}
    </table>

{% endif %}

{% endblock %}
