{% extends "app/base.html" %}

{% block content %}
<br>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <a href="{% url 'app:new_buy_back' %}" class="btn btn-default btn-lg" role="button" >Add Bike</a>
    <a class="btn btn-default btn-lg" href="{% url 'app:bike_inventory' %}" role="button">Our Bikes</a>
</div>

{% if buy_backs %}
    <h3> Buy-Back Bikes</h3>

    <table class="table">
    <thead>
        <td>VIN Number</td>
    </thead>

    {% for buy_back in buy_backs %}
        <tr>
            <td><a href="{% url 'app:buy_back_detail' buy_back.id %}">{{ buy_back.vin }}</a></td>
        </tr>
    {% endfor %}
    </table>

{% endif %}

{% endblock %}
