{% extends "app/base.html" %}
{% load bootstrap %}
{% load staticfiles %}


{% block head %}
<script src="{% static 'js/create_trans_parts.js' %}" type="text/javascript" charset="utf-8" async defer>
</script>
{{ wizard.form.media }}
{% endblock %}

{% block content %}

    <form action="" method="post">
        {{ wizard.management_form }}
        {% csrf_token %}

        <div class="fieldWrapper" id="original_fields">
            <div class="controls form-inline">
                {% for field in wizard.form %}
                    {% if field.name == 'was_used' %}
                        <label class="control-label  " for="was_used_show">Was Installed</label>
                        {% if field.value == True %}
                            <input class="form-control" id="was_used_show" type="checkbox" value="True" name="2-was_used" checked="checked">
                        {% else %}
                            <input class="form-control" id="was_used_show" type="checkbox" value="True" name="2-was_used">
                        {% endif %}
                        <input id="was_used_hidden" type="hidden" value="False" name="2-was_used">
                    {% else %}
                        {{ field | bootstrap}}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div id="buttons" class="controls form-inline">
            <br>
            <input id="add_form" value="Add Category" class="btn btn-default btn-lg"/>
            <input type="submit" value="Submit" class="btn btn-default btn-lg"/>
            <input type="submit" name="skip" value="Skip" class="btn btn-default btn-lg"/>
        </div>
    </form>
{% endblock %}