{% extends "app/base.html" %}
{% load bootstrap %}
{% load staticfiles %}


{% block head %}
<script src="{% static 'js/create_trans_parts.js' %}" type="text/javascript" charset="utf-8" async defer>
</script>
{{ wizard.form.media }}
{% endblock %}

{% block content %}

    <form action="" method="post">
        {{ wizard.management_form }}
        {% csrf_token %}

        <div class="fieldWrapper" id="original_fields">
            <div class="controls form-inline">
                {% for field in wizard.form %}
                    {{field | bootstrap}}
                {% endfor %}
            </div>
        </div>
        <div id="buttons"class="controls form-inline">
            <br>
            <input id="add_form" value="Add Category" class="btn btn-default btn-lg"/>
            <input type="submit" value="Submit" class="btn btn-default btn-lg"/>
            <input type="submit" name="skip" value="Skip" class="btn btn-default btn-lg"/>
        </div>
    </form>
{% endblock %}