{% extends "app/base.html" %}
{% load i18n %}

{% block head %}
<script src="/app/static/js/create_transaction.js"
        type="text/javascript"
        charset="utf-8" async defer></script>
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<form action="" method="post">{% csrf_token %}
<table>
{% load bootstrap %}

{% load repairs_form %}
{{ wizard.management_form }}
    {% if wizard.steps.step0 == 1 %}
        {% for category_pair in category_dict.iteritems %}

                <div class="category" category="{{category_pair.0|join_whitespace}}">
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-default btn-xlarge" role="button" name='new_transaction'>{{ category_pair.0 }}</a>
                    </div>
                </div>
            <div class="{{ category_pair.0|join_whitespace }}" style="display:none">
            {% for field_info_pair in category_pair.1.iteritems %}

                <div class="fieldWrapper">
                    <div class="form-group">
                        <label class="control-label  " for="id_1-{{ field_info_pair.0|join_whitespace }}">(${{ field_info_pair.1|get_member:'price'}})  {{ field_info_pair.0 }}</label>
                        <div class=" ">
                            <input class="form-control" id="id_1-{{ field_info_pair.0|join_whitespace }}" name="1-{{field_info_pair.0|join_whitespace}}" type="checkbox" />
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endfor %}

        <br>
        <div class="fieldWrapper">
            <select class="form-control">
                <option value="customer_bike">Customer Bike</option>
                <option value="rental_bike">Rental Bike</option>
                <option value="refurbished_bike">Refurbished Bike</option>
            </select>
            <br>
        </div>

        {% for field in wizard.form %}
            {% if non_task_fields|is_member:field.label %}
                <div class="fieldWrapper">
                    {{field | bootstrap}}
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        {% for field in wizard.form %}
            <div class="fieldWrapper">
                {{field | bootstrap}}
            </div>
        {% endfor %}
    {% endif %}


</table>


{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" class="btn btn-default btn-lg">{% trans "first step" %}</button>
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="btn btn-default btn-lg">{% trans "prev step" %}</button>
{% endif %}
<input type="submit" value='{% trans "submit" %}' class="btn btn-default btn-lg"/>
</form>
{% endblock %}