{% extends "app/base.html" %}
{% load staticfiles %}

{% block content %}

<h2>Customer name: {{ transaction.first_name }} {{ transaction.last_name }}</h2>

{% load repairs_form %}
<table class="table table-striped">
    <tr>
        <td>Email</td>
        <td>{{ transaction.email }}</td>
    </tr>
    <tr>
        <td>Service Description</td>
        <td>{{ transaction.service_description }} </td>
    </tr>
    <tr>
        <td>Date Submitted</td>
        <td>{{ transaction.date_submitted }}</td>
    </tr>
    <tr>
        <td>Completed</td>
        <td>{{ transaction.completed }}</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>{{ transaction.price }} </td>
    </tr>
    <tr>
        <td>Amount Paid</td>
        <td>{{ transaction.amount_paid }} </td>
    </tr>

    {% if transaction.rental_bike %}
    <tr>
        <td>Rental VIN</td>
        <td>{{ transaction.rental_bike.vin }} </td>
    </tr>
    {% elif transaction.refurbished_bike %}
    <tr>
        <td>Refurbished VIN</td>
        <td>{{ transaction.refurbished_bike.vin }} </td>
    </tr>
    {% endif %}
    <tr>
        <td><h4>Tasks:</h4></td>
        <td></td>
    </tr>
    {% for task in tasks %}
        <tr>
            <td>{{ task.name|place_whitespace }} </td>
            <td>{{ task.completed }}</td>
        </tr>
    {% endfor %}
</table>

<a class="btn btn-default" href="{% url 'app:'|add:parent_url  %}" id="back" role="button">Back</a>
<a class="btn btn-default" href="{% url 'app:edit' transaction.id parent_url %}" role="button">Edit</a>

{% endblock %}

{% block detail %}
{% endblock %}