{% extends "app/base.html" %}

{% block content %}

<h2>Customer name: {{ transaction.first_name }} {{ transaction.last_name }}</h2>

{% load repairs_form %}
<table class="table table-striped">
    <tr>
        <td>Email</td>
        <td>{{ transaction.email }}</td>
    </tr>
    <tr>
        <td>Service Description</td>
        <td>{{ transaction.service_description }} </td>
    </tr>
    <tr>
        <td>Price</td>
        <td>{{ transaction.price }} </td>
    </tr>
    <tr>
        <td>Completed</td>
        <td>{{ transaction.completed }}</td>
    </tr>
    <tr>
        <td>Date Submitted</td>
        <td>{{ transaction.date_submitted }}</td>
    </tr>
    <tr>
        <td>Order Details</td>
        <td>{{ transaction.service_description }} </td>
    </tr>

    {% if transaction.rental_bike %}
    <tr>
        <td>Rental VIN</td>
        <td>{{ transaction.rental_bike.vin }} </td>
    </tr>
    {% elif transaction.refurbished_bike %}
    <tr>
        <td>Refurbished VIN</td>
        <td>{{ transaction.refurbished_bike.vin }} </td>
    </tr>
    {% endif %}
    {% for task in tasks %}
        <tr>
            <td>{{ task.name|place_whitespace }} </td>
            <td>{{ task.completed }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}

{% block detail %}
{% endblock %}