{% extends "app/base.html" %}

{% block content %}

<h2>Customer name: {{ transaction.first_name }} {{ transaction.last_name }}</h2>


<table class="table table-striped">
    <tr>
        <td>Email</td>
        <td>{{ transaction.email }}</td>
    </tr>
    <tr>
        <td>Service Description</td>
        <td>{{ transaction.service_description }} </td>
    </tr>
    <tr>
        <td>Price</td>
        <td>{{ transaction.price }} </td>
    </tr>
    <tr>
        <td>Completed</td>
        <td>{{ transaction.completed }}</td>
    </tr>
    <tr>
        <td>Date Submitted</td>
        <td>{{ transaction.date_submitted }}</td>
    </tr>
    <tr>
        <td>Order Details</td>
        <td>{{ transaction.service_description }} </td>
    </tr>
    <tr>
        <td># Handlebars Needed</td>
        <td>{{ transaction.handlebars }}</td>
    </tr>
    <tr>
        <td># Brakes Needed</td>
        <td>{{ transaction.brakes }}</td>
    </tr>
    <tr>
        <td># Frames Needed</td>
        <td>{{ transaction.frame }}</td>
    </tr>
</table>

{% if not transaction.completed %}
<a class="btn btn-default" href="{% url 'app:mark_completed' transaction.id %}" role="button">Mark as completed</a>
<a class="btn btn-default" href="{% url 'app:edit' transaction.id %}" role="button">Edit</a>
{% endif %}
<a class="btn btn-default" href="{% url 'app:index' %}" role="button">Back to All</a>

{% endblock %}