{% extends "app/base.html" %}
{% load staticfiles %}

{% block head %}
<script src="{% static 'js/process_string.js' %}"
        type="text/javascript"
        charset="utf-8" defer></script>
<script src="/app/static/js/edit.js"
        type="text/javascript"
        charset="utf-8" defer></script>
<script src="/app/static/js/checkbox.js"
        type="text/javascript"
        charset="utf-8" defer></script>
{% endblock %}



{% block content %}

{%  if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% load bootstrap %}
{% load repairs_form %}

<br>

<form action="" method="post">
    {% csrf_token %}

    <div class="panel panel-primary">
        <div class="panel-heading panel-heading-tight"><h3>Customer Info</h3></div>
        <div class="panel-body parts-panel">


        {{ transaction_form | bootstrap}}
    </div>
        </div>

    <div class="panel panel-primary">
        <div class="panel-heading panel-heading-tight"><h3>Tasks</h3></div>

        <div class="panel-body parts-panel">

            {% for task_category in task_categories %}
            <div id = {{task_category|join_whitespace}} style="display:none">
                <h3>{{ task_category }}</h3>
            </div>
            {% endfor %}


            <div id="task_container" style="display:block">
            {% for task in tasks %}
                    <div id="{{task.menu_item.name|join_whitespace}}" category="{{ task.menu_item.category|join_whitespace }}">
                        <div class="fieldWrapper">

                            <em><strong>{{ task.menu_item.name|place_whitespace }}</strong></em>
                            <input class="form-control" id="id_{{task.menu_item.name| join_whitespace}}" name="task_{{task.menu_item.name| join_whitespace}}" type="checkbox"
                                   {% if task.completed %} checked="checked" {% endif %} style="text-align:center"/>
                            <br>
                            <b>Number</b>
                            <input class="form-control" name="task_{{task.menu_item.name| join_whitespace}}" type="number" value="{{ task.number }}"/>

                        </div>
                    </div>
            {% endfor %}
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading panel-heading-tight"><h3>Parts</h3></div>

        <div class="panel-body parts-panel">

            {% for part_category in part_categories %}
            <div id = {{part_category|join_whitespace}} style="display:none">
                <h3>{{ part_category }}</h3>
            </div>
            {% endfor %}


            <div id="part_container" style="display:none">
            {% for part in parts %}
                    <div id="{{part.menu_item.name|join_whitespace}}" category="{{ part.menu_item.category|join_whitespace }}">
                        <div class="fieldWrapper">

                            <em><strong>{{ part.menu_item.name|place_whitespace }}</strong></em>
                            <input class="form-control" id="id_{{part.menu_item.name| join_whitespace}}" name="part_{{part.menu_item.name| join_whitespace}}" type="checkbox"
                                   {% if part.completed %} checked="checked" {% endif %} style="text-align:center"/>
                            <br>
                            <b>Number</b>
                            <input class="form-control" name="part_{{part.menu_item.name| join_whitespace}}" type="number" value="{{ part.number }}"/>

                        </div>
                    </div>
            {% endfor %}
            </div>
        </div>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading panel-heading-tight"><h3>Accessories</h3></div>
        <div class="panel-body parts-panel">
            <div id="accessory_container">
            {% for accessory in accessories %}
                    <div id="{{accessory.menu_item.name|join_whitespace}}" category="{{ accessory.menu_item.category|join_whitespace }}">
                        <div class="fieldWrapper">

                            <em><strong>{{ accessory.menu_item.name|place_whitespace }}</strong></em>
                            <input class="form-control" id="id_{{accessory.menu_item.name| join_whitespace}}" name="accessory_{{accessory.menu_item.name| join_whitespace}}" type="checkbox"
                                   {% if accessory.completed %} checked="checked" {% endif %} style="text-align:center"/>
                            <br>
                            <b>Number</b>
                            <input class="form-control" name="accessory_{{accessory.menu_item.name| join_whitespace}}" type="number" value="{{ accessory.number }}"/>

                        </div>
                    </div>
            {% endfor %}
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-body panel-body-center panel-body-blue parts-panel">
            <div class="controls form-inline">
                <div class="form-group form-group-center col-xs-6">
                    <button type="submit" class="form-control btn btn-default  btn-fat">Save</button>
                </div>
                <div class="form-group form-group-center col-xs-6">
                    <button type="submit" name="cancel" class="form-control btn btn-default btn-fat">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</form>



{% endblock %}