{% extends "app/base.html" %}

{% block head %}
<script src="/app/static/js/edit.js"
        type="text/javascript"
        charset="utf-8" async defer></script>
<script src="/app/static/js/checkbox.js"
        type="text/javascript"
        charset="utf-8" async defer></script>
{% endblock %}



{% block content %}

{%  if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% load bootstrap %}
{% load repairs_form %}



<form action="" method="post">
    {% csrf_token %}

    <h1>Customer Information</h1>

    {{ transaction_form | bootstrap}}


    <h1>Parts</h1>

    <div id="part_categories_container">
        {% for part_category_form in part_category_form_list %}
            {% with x=forloop.counter0 %}
            <div class="controls form-inline" id={{x}}>
                {% for field in part_category_form %}
                    {% if field.name == 'was_used' %}
                        {% if field.value == True %}
                            <input class="form-control" id="was_used_show_{{x}}" type="checkbox" value="True" name="was_used" checked="checked">
                        {% else %}
                            <input class="form-control" id="was_used_show_{{x}}" type="checkbox" value="True" name="was_used">
                        {% endif %}
                        <input id="was_used_hidden_{{x}}" type="hidden" value="False" name="was_used">
                    {% else %}
                        {{ field | bootstrap}}
                    {% endif %}
                {% endfor %}
                <input type="hidden" name="id" value="{{ part_category_form.instance.id }}">
            </div>
            {% endwith %}
        {% endfor %}
    </div>


    <h1>Tasks</h1>

    {% for category_pair in category_dict.iteritems %}
        <div id = {{category_pair.0|join_whitespace}} style="display:none">
            <h3>{{ category_pair.0 }}</h3>
        </div>
    {% endfor %}


    <div id="task_container" style="display:none">
    {% for task in tasks %}
            <div id="{{task.name|join_whitespace}}" category="{{ info_dict|get_member:task.name|get_member:'category'|join_whitespace }}">
                <div class="fieldWrapper">
                    {% if not task.completed %}
                    <em><strong>{{ task.name|place_whitespace }}</strong></em>
                    <input class="form-control" id="id_{{task.name| join_whitespace}}" name={{task.name| join_whitespace}} type="checkbox"/>
                    {% else %}
                    <em><strong>{{ task.name|place_whitespace }}</strong></em>
                    <input class="form-control" id="id_{{task.name| join_whitespace}}" name={{task.name| join_whitespace}} checked="checked" type="checkbox"/>
                    {% endif %}
                </div>
            </div>
    {% endfor %}
    </div>


    <button type="submit" class="btn btn-default">Save</button>
    <button type="submit" name="cancel" class="btn btn-default">Cancel</button>
</form>



{% endblock %}