{% extends "app/base.html" %}

{% block content %}

<a href="/" class="btn btn-default btn-xlarge" role="button" name='back_to_list'>Index</a>

{% if transactions_list %}

    <h3>Past Customers</h3>

    <table class="table">
    <thead>
        <td>ID</td>
        <td>Name</td>
        <td>Email</td>
        <td>Service Description</td>
    </thead>

    {% for transaction in transactions_list %}
        <tr>
            <td>{{ transaction.id }}</td>
            <td><a href="{% url 'app:detail_complete' transaction.id 'history' %}">{{ transaction.first_name }} {{ transaction.last_name }}</a></td>
            <td>{{ transaction.email }}</td>
            <td>
                {{ transaction.service_description|slice:":75" }}
                {% if transaction.service_description|length > 75  %}...{% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>

{% endif %}

{% endblock %}
