{% extends "app/base.html" %}

{% block content %}

{% if transactions_list %}

    <h3>Past Customers</h3>

    <table class="table trans-table">
    <thead>
        <td>Name</td>
        <td>Description</td>
        <td>Paid</td>
    </thead>

    {% for transaction, is_paid in transactions_list %}
        <tr>
            <td><a href="{% url 'app:detail_1' 'history' transaction.id %}">
                {{transaction}}</a></td>
            <td>
                {{ transaction.bike_description|slice:":75" }}
                {% if transaction.bike_description|length > 75  %}...{% endif %}
            </td>
            <td>
                {% if is_paid %} Yes {% else %} No {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>

{% endif %}

{% endblock %}
