{% extends "app/base.html" %}

{% block content %}

<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <a href="/new" class="btn btn-default btn-xlarge" role="button" name='new_transaction'>
      <img class="buttonpic" src="{{ STATIC_URL }}img/add.png" alt="New transaction"/>
    </a>
    <a href="/history" class="btn btn-default btn-xlarge" role="button" name='past_transactions'>
      <img class="buttonpic" src="{{ STATIC_URL }}img/clock.png"/>
    </a>
    <a href="/balance" class="btn btn-default btn-xlarge" role="button" name='balance'>
      <img class="buttonpic" src="{{ STATIC_URL }}img/money.png"/>
    </a>
</div><br>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <a href="/rental" class="btn btn-default btn-xlarge" role="button" name='rental'>Rental</a>
    <a href="/refurbished" class="btn btn-default btn-xlarge" role="button" name='refurbished'>Refurbished</a>
    <a href="/orders" class="btn btn-default btn-xlarge" role="button" name="orders">Orders</a>
</div>
{% if transactions_list %}
    <h3>Active Customers</h3>

    <table class="table">
    <thead>
        <td>ID</td>
        <td>Name</td>
        <td>Email</td>
        <td>Service Description</td>
    </thead>

    {% for transaction in transactions_list %}
        <tr class="legible">
            <td>{{ transaction.id }}</td>
            <td><a href="{% url 'app:detail' transaction.id 'index' %}">{{ transaction.first_name }} {{ transaction.last_name }}</a></td>
            <td>{{ transaction.email }}</td>
            <td>
                {{ transaction.service_description|slice:":75" }}
                {% if transaction.service_description|length > 75  %}...{% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>

{% endif %}

{% endblock %}
