{% extends "app/base.html" %}

{% block content %}


{% if complete %}
<a href="/" class="btn btn-info" role="button" name='back_to_list'>View current transactions</a>
{% else %}
<a href="/new" class="btn btn-info" role="button" name='new_transaction'>Create new transaction</a>
<br><br>
<a href="/history" class="btn btn-info" role="button" name='past_transactions'>View past transactions</a>
{% endif %}

{% if transactions_list %}
    <h3>Active Customers</h3>

    <table class="table">
    <thead>
        <td>ID</td>
        <td>Name</td>
        <td>Email</td>
        <td>Service Description</td>
    </thead>

    {% for transaction in transactions_list %}
        <tr>
            <td>{{ transaction.id }}</td>
            <td><a href="{% url 'app:detail' transaction.id %}">{{ transaction.first_name }} {{ transaction.last_name }}</a></td>
            <td>{{ transaction.email }}</td>
            <td>
                {{ transaction.service_description|slice:":75" }}
                {% if transaction.service_description|length > 75  %}...{% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>

{% endif %}

{% endblock %}