{% extends "app/base.html" %}

{% block content %}

<br>
<form class="form-inline" method="post">
    {% csrf_token %}
    <a class="btn btn-default btn-xlarge" href="{% url 'app:make_order' %}"  role="button" name='new_payment'>Make Order</a>
    <a class="btn btn-default btn-xlarge" href="{% url 'app:used_parts' %}" role="button">Installed Parts</a>
    <a class="btn btn-default btn-xlarge" href="{% url 'app:index' %}" role="button">Transactions</a>
    <input class="btn btn-default btn-xlarge" type="submit" value='Export' name="export_orders">

</form>

{% if orders %}
    <h3>Order History</h3>

    <!--was_ordered is shown by red/green for true/false-->
    <table class="table">
        <thead>
            <td>Part</td>
            <td>Category</td>
            <td>Price</td>
            <td>Date</td>
        </thead>

        {% for order in orders %}
            <tr>
                <td> {{ order.name }} </td>
                <td> {{ order.category }} </td>
                <td> {{ order.price }} </td>
                <td> {{ order.date_submitted|date:"M d, Y" }} </td>
            </tr>
        {% endfor %}

    </table>

{% endif %}


{% endblock %}