{% extends "app/base.html" %}

{% block content %}

<br>
<form class="form-inline" method="post">
    {% csrf_token %}
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <a class="btn btn-default" href="#"  role="button" name='new_payment'>
                <img class="button-pic" src="/app/static/img/add.png" alt="New transaction"/>
        </a>
        <div class="btn-group" role="group">
                <button type="submit" name="export_orders" class="btn btn-default btn-lg">Export</button>
        </div>
    </div>
    <br>

</form>

{% if orders %}
    <h3>Order History</h3>

    <!--was_ordered is shown by red/green for true/false-->
    <table class="table">
        <thead>
            <td>Part</td>
            <td>Status</td>
            <td>Date</td>
        </thead>

        {% for order in orders %}
            <tr>

                <td><a href="{% url 'app:detail_1' 'orders' order.transaction.id %}">{{order}}</a></td>
                <td>{{order.status}}</td>
                <td>{{order.transaction.date_submitted|date:"n/j"}}</td>
            </tr>
        {% endfor %}

    </table>

{% endif %}


{% endblock %}