{% extends "app/base.html" %}

{% block content %}

<br>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <a href="{% url 'app:new_refurbished' %}" class="btn btn-default btn-lg" role="button" name='new_refurbished'>Add Bike</a>
    <a class="btn btn-default btn-lg" href="{% url 'app:index' %}" role="button">Transactions</a>
</div>

{% if refurbished_list %}
    <h3>Refurbished Bikes</h3>

    <table class="table">
    <thead>
        <td>ID</td>
        <td>VIN Number</td>
    </thead>

    {% for refurbished in refurbished_list %}
        <tr>
            <td>{{ refurbished.id }}</td>
            <td><a href="{% url 'app:refurbished_detail' refurbished.id %}">{{ refurbished.vin}}</a></td>
        </tr>
    {% endfor %}
    </table>

{% endif %}

{% endblock %}
