{% extends "app/base.html" %}

{% block content %}
<br>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <a href="{% url 'app:new_rental' %}" class="btn btn-default btn-lg" role="button" name='new_rental'>Add Bike</a>
    <a class="btn btn-default btn-lg" href="{% url 'app:index' %}" role="button">Transactions</a>
</div>

{% if rentals %}
    <h3>Rental Bikes</h3>

    <table class="table">
    <thead>
        <td>ID</td>
        <td>VIN Number</td>
    </thead>

    {% for rental in rentals %}
        <tr>
            <td>{{ rental.id }}</td>
            <td><a href="{% url 'app:rental_detail' rental.id %}">{{ rental.vin }}</a></td>
        </tr>
    {% endfor %}
    </table>

{% endif %}

{% endblock %}
