{% extends "app/base.html" %}

{% block content %}
<br>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <a href="{% url 'app:sold_tasks' %}" class="btn btn-default btn-lg btn-skinny" role="button">Tasks</a>
    <a href="{% url 'app:sold_parts' %}" class="btn btn-default btn-lg btn-skinny" role="button">Parts</a>
</div>
<br>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <a href="{% url 'app:sold_accessories' %}" class="btn btn-default btn-lg btn-skinny" role="button">Accessories</a>
    <a href="{% url 'app:sold_buy_backs' %}" class="btn btn-default btn-lg btn-skinny" role="button">Buy Backs</a>
</div>

<br>
<table class="table">
    <thead>
        <td>VIN#</td>
        <td>Price</td>
        <td>Color</td>
        <td>Model</td>
        <td>Date</td>
    </thead>

    {% for item in items_sold %}
        <tr>
            <td>{{ item.vin }}</td>
            <td>${{ item.price }}</td>
            <td>{{ item.color }}</td>
            <td>{{ item.model }}</td>
            <td>{{ item.transaction.date_submitted|date:"n/j" }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}