{% extends "app/sold_items.html" %}

{% block specific %}
<script>
    $("#tasks")[0].className += " btn-primary";
</script>

<table class="table">
    <thead>
        <td>Name</td>
        <td>Category</td>
        <td>Price</td>
        <td>#</td>
        <td>Date</td>
    </thead>

    {% for item in items_sold %}
        <tr>
            <td>{{ item.menu_item.name }}</td>
            <td>{{ item.menu_item.category }}</td>
            <td>${{ item.menu_item.price }}</td>
            <td>{{ item.number }}</td>
            <td>{{ item.transaction.date_submitted|date:"n/j" }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}