{% extends "app/base.html" %}

{% block content %}

<br>
<form class="form-inline" method="post">
    {% csrf_token %}
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <a class="btn btn-default btn-lg" href="{% url 'app:orders' %}" role="button">Orders</a>

            <div class="btn-group" role="group">
                <button type="submit" name="export_used" class="btn btn-default btn-lg">Export</button>
            </div>
        </div>

</form>

{% if used_parts %}
    <h3>Used Parts</h3>

    <!--was_ordered is shown by red/green for true/false-->
    <table class="table">
        <thead>
            <td>Transaction ID</td>
            <td>Category</td>
            <td>Price</td>
            <td class="non-mobile">Installed</td>
            <td class="non-mobile">Details</td>
            <td>Date</td>
        </thead>

        {% for part_category in used_parts %}
            <tr>
                {% if part_category.transaction %}
                    <td><a href="{% url 'app:detail_1' 'used_parts' part_category.transaction.id %}">{{ part_category.transaction.id }}</a></td>
                {% else %}
                    <td><a href="javascript:return false;">-</a></td>
                {% endif %}
                <td> {{ part_category.get_category_display }} </td>
                <td> {{ part_category.price }} </td>
                <td class="non-mobile"> {{ part_category.was_used }} </td>
                <td class="non-mobile"> {{ part_category.description }} </td>
                <td> {{ part_category.date_submitted|date:"n/j" }} </td>
            </tr>
        {% endfor %}

    </table>

{% endif %}


{% endblock %}